 <!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Про нас</h2>
            <p>Дізнайтесь більше <span>про нас</span></p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" style="background-image: url(../img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
                <div class="call-us position-absolute">
                    <h4>Замовитти столик</h4>
                    <p>+380 680 572 712</p>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Запрошуємо насолодитися неперевершеним смаком і вишуканими стравами, які перевершать всі ваші очікування.
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> Наші шеф-кухарі зібрали найкращі інгредієнти, щоб пропонувати вам тільки найсмачніші страви.</li>
                        <li><i class="bi bi-check2-all"></i> Ви зможете насолоджуватися неповторними смаками, які розкриють всю палітру смаків.</li>
                        <li><i class="bi bi-check2-all"></i> Наше обслуговування не залишить вас байдужими - ми працюємо для вашого комфорту та задоволення.</li>
                    </ul>
                    <p>
                        Запрошуємо вас зануритися у світ гастрономічних насолод та вишуканого задоволення. Наш ресторан - це місце, 
                        де ви можете насолоджуватися кожною стравою і моментом, проведеним разом з нами. 
                        Відчуйте справжню радість від гастрономічних відкриттів і переживайте незабутні емоції разом з нами!
                    </p>
                    <div class="position-relative mt-4">
                        <img src="~/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Чому обрати Прованс?</h3>
                    <p>
                        Прованс - це не тільки місце, де можна смачно поїсти, але і атмосфера, яка перенесе вас у захоплюючий світ гастрономічних насолод. 
                        Наші шеф-кухарі з прихильністю ставляться до деталей,
                        використовують найсвіжіші інгредієнти та створюють страви, що розкриють всю красу смаку та аромату.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn">Дивитись Більше <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Приховані дані організації</h4>
                            <p>Тут зберігаються або майже або зовсім не відомі дані про роботу, які допомагають уникнути питань</p>
                        </div>
                    </div><!-- Кінець блоку з іконкою -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Розкішна та продуктивна праця</h4>
                            <p>Тут народжуються надзвичайні ідеї, і допомагає це уникнути неприємних наслідків</p>
                        </div>
                    </div><!-- Кінець блоку з іконкою -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Працюйте та досягайте успіху</h4>
                            <p>Тут немає місця нудоті та монотонності. Зробіть життя яскравішим!</p>
                        </div>
                    </div><!-- Кінець блоку з іконкою -->


                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->
<!-- ======= Stats Counter Section ======= -->
<section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Clients</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projects</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Workers</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>
</section><!-- End Stats Counter Section -->
